 
/bin/**
!/bin/.gitkeep
!/bin/install-spl-token.sh
!/bin/install-anchor.sh
!/bin/install-solana.sh

/.config/**
!/.config/fish
!/.config/fish/config.fish
!/.config/fish/functions
!/.config/fish/functions/bdcli.fish
!/.config/fish/functions/cortex.fish
!/.config/fish/functions/composer.fish


/.idea
.DS_Store

*~

/.perl5

/.cargo
/.avm
/.solana

